<a href="https://colab.research.google.com/github/vvrgit/Python/blob/main/Python_Note_book_2024_2025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***Arithmetic Operations***

In [ ]:
x=10
y=2
print("x+y=",x+y)
print("x-y=",x-y)
print("x*y=",x*y)
print("x/y=",x/y)
print("x%y=",x*y)
print("x**y=",x**y)

x+y= 12
x-y= 8
x*y= 20
x/y= 5.0
x%y= 20
x**y= 100

In [ ]:
print('======================')
print("14/3=",14/3)
print("14%3=",14%3)
print('======================')
print("14.0/3.0=",14.0/3.0)
print("14.0%3.0=",14.0%3.0)
print('======================')
print("14.0/3=",14.0/3)
print("14.0%3=",14.0%3)
print('======================')
print("14/3.0=",14/3.0)
print("14%3.0=",14%3.0)
print('======================')

======================
14/3= 4.666666666666667
14%3= 2
======================
14.0/3.0= 4.666666666666667
14.0%3.0= 2.0
======================
14.0/3= 4.666666666666667
14.0%3= 2.0
======================
14/3.0= 4.666666666666667
14%3.0= 2.0
======================

# **Random Number Generation**

In [ ]:
import random
a=random.randrange(0,10)
print(a)

6

In [ ]:
b=random.uniform(0,10)
print(b)

6.832542296471856

In [ ]:
#Use the seed() method to customize
#the start number of the random number generator.

random.seed(10)
print(random.random())

random.seed(10)
print(random.random())

0.5714025946899135
0.5714025946899135

In [ ]:
#randint: Returns a random number between the given range
a=random.randint(1,10)
print(a)

7

In [ ]:
#choice: Returns a random element from the given sequence
mylist = ["apple", "banana", "cherry"]

print(random.choice(mylist))

cherry

In [ ]:
#choices()	Returns a list with a random selection from the given sequence
mylist = ["apple", "banana", "cherry", 100]

print(random.choices(mylist, k = 14))

['banana', 'cherry', 'apple', 100, 'apple', 'banana', 100, 100, 'apple', 100, 100, 'banana', 100, 'apple']

In [ ]:
#shuffle()	Takes a sequence and returns the sequence in a random order
mylist = ["apple", "banana", "cherry"]
random.shuffle(mylist)

print(mylist)

['apple', 'cherry', 'banana']

In [ ]:
#sample()	Returns a given sample of a sequence

mylist = ["apple", "banana", "cherry"]

print(random.sample(mylist, k=2))

['cherry', 'apple']

In [ ]:
#random()	Returns a random float number between 0 and 1
a=random.random()
print(a)

0.17430797798567554

In [ ]:
#uniform()	Returns a random float number between two given parameters
a=random.uniform(10,20)
print(a)

12.670270685533795

# ***Python Strings***

In [ ]:
'''
Strings in python are surrounded by either single quotation marks, or double quotation marks.

'hello' is the same as "hello".

You can display a string literal with the print() function:
'''

print("Hello")
print('Hello')

Hello
Hello

In [ ]:
'''
You can use quotes inside a string, as long as they don't match the quotes surrounding the string:
'''

print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

In [ ]:
'''
You can assign a multiline string to a variable by using
three single or double quotes
'''
a=''' HI! I am
Dr. Venkataramana
SR University'''
print(a)


b=""" I am Teaching
Python Program"""

print(b)

 HI! I am
Dr. Venkataramana
SR University
 I am Teaching
Python Program

In [ ]:
a = "Hello, World!"
print(a[1])

e

In [ ]:
#Looping Through a String
for x in "banana":
  print(x)

b
a
n
a
n
a

In [ ]:
#To get the length of a string, use the len() function.
a = "Hello, World!"
print(len(a))

13

In [ ]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [ ]:
My_self='''I am Teaching Python
for 3rd year EEE students
of SR University'''

print(len(My_self))

63

In [ ]:
print(My_self[0])

I

In [ ]:
print(My_self[1:])

 am  Teaching Python
for 3rd year EEE students
of SR University

In [ ]:
print(My_self[1:6])

 am

In [ ]:
print(My_self[::-1])

ytisrevinU RS fo
stneduts EEE raey dr3 rof
nohtyP gnihcaeT ma I

In [ ]:
print(My_self[20:0:-1])

nohtyP gnihcaeT ma

In [ ]:
Language_1="Python"
Language_2="MATLAB"
print(Language_1+' '+Language_2)
print(Language_1*2)

Python MATLAB
PythonPython

In [ ]:
Language_1="Python"
Language_2="MATLAB"
print(Language_1+' '+Language_2)
del Language_1
print(Language_1)

Python MATLAB

NameError: name 'Language_1' is not defined

# ***Complex Numbers***

In [ ]:
z=complex(2,3)
print(z)
w=20+30j
print(w)

(2+3j)
(20+30j)

In [ ]:
real_no=z.real
imag_no=z.imag
print("real_no",real_no)
print("imag_no",imag_no)

real_no 2.0
imag_no 3.0

In [ ]:
complex_conjugate=z.conjugate()
magnitude=abs(z)
print("complex_conjugate",complex_conjugate)
print("magnitude",magnitude)

complex_conjugate (2-3j)
magnitude 3.605551275463989

In [ ]:
z1=complex(2,3)
z2=complex(4,5)
print("z1+z2=",z1+z2)
print("z1-z2=",z1-z2)
print("z1*z2=",z1*z2)
print("z1/z2=",z1/z2)

z1+z2= (6+8j)
z1-z2= (-2-2j)
z1*z2= (-7+22j)
z1/z2= (0.5609756097560976+0.0487804878048781j)

In [ ]:
import cmath as cm
z1=complex(2,3)

angle=cm.phase(z1)
polar_form=cm.polar(z1)
rect_form=cm.rect(polar_form[0],polar_form[1])


print("angle in Radians=",angle)
print("polar_form=",polar_form)
print("rect_form=",rect_form)

angle in Radians= 0.982793723247329
polar_form= (3.605551275463989, 0.982793723247329)
rect_form= (2+3j)

In [ ]:
import math as mt
import cmath as cm

z1=complex(10,20)
angle=cm.phase(z1)

angle_degree=mt.degrees(angle)

print("angle in Radians=",angle)
print("angle in degrees=",angle_degree)

angle in Radians= 1.1071487177940904
angle in degrees= 63.43494882292201

# ***Power and logarithmic functions***

In [ ]:
import cmath as cm

exp_01= cm.exp(1)
log_01= cm.log(cm.exp(1))
log10_01=cm.log10(1000)
sqrt_01=cm.sqrt(4)

print("Exponential=",exp_01)
print("Log_e=",log_01)
print("square root=",sqrt_01)
print("Log_10=",log10_01)

Exponential= (2.718281828459045+0j)
Log_e= (1+0j)
square root= (2+0j)
Log_10= (2.9999999999999996+0j)

In [ ]:
import math as mt

exp_01= mt.exp(1)
log_01= mt.log(mt.exp(1))
log10_01=mt.log10(1000)
sqrt_01=mt.sqrt(4)

print("Exponential=",exp_01)
print("Log_e=",log_01)
print("square root=",sqrt_01)
print("Log_10=",log10_01)

Exponential= 2.718281828459045
Log_e= 1.0
square root= 2.0
Log_10= 3.0

# ***Trigonometric functions***

In [ ]:
import math as mt

sin_value= mt.sin(1.57)
cos_value= mt.cos(1.57)
tan_value=mt.tan(1.57/2)


print("sin_value=",sin_value)
print("cos_value=",cos_value)
print("tan_value=",tan_value)

sin_value= 0.9999996829318346
cos_value= 0.0007963267107332633
tan_value= 0.9992039901050427

In [ ]:
import math as mt

sin_value= mt.sin(1.57)
cos_value= mt.cos(1.57)
tan_value=mt.tan(1.57/2)


print("sin_value=",sin_value)
print("cos_value=",cos_value)
print("tan_value=",tan_value)

sin_value= 0.9999996829318346
cos_value= 0.0007963267107332633
tan_value= 0.9992039901050427

In [ ]:
import math as mt

sin_value= mt.sin(mt.radians(90))
cos_value= mt.cos(mt.radians(90))
tan_value=mt.tan(mt.radians(45))


print("sin_value=",sin_value)
print("cos_value=",cos_value)
print("tan_value=",tan_value)

sin_value= 1.0
cos_value= 6.123233995736766e-17
tan_value= 0.9999999999999999

In [ ]:
import math as mt
import cmath as cm

sin_value= cm.sin(1.57)
cos_value= cm.cos(1.57)
tan_value=cm.tan(1.57/2)


print("sin_value=",sin_value)
print("cos_value=",cos_value)
print("tan_value=",tan_value)

sin_value= (0.9999996829318346+0j)
cos_value= (0.0007963267107332633-0j)
tan_value= (0.9992039901050427+0j)

In [ ]:
import math as mt
import cmath as cm

sin_value= cm.sin(mt.radians(90))
cos_value= cm.cos(mt.radians(90))
tan_value=cm.tan(mt.radians(45))


print("sin_value=",sin_value)
print("cos_value=",cos_value)
print("tan_value=",tan_value)

sin_value= (1+0j)
cos_value= (6.123233995736766e-17-0j)
tan_value= (0.9999999999999999+0j)

In [ ]:
import cmath as cm

sin_angle= cm.asin(1)
cos_angle= cm.acos(0)
tan_angle=cm.atan(1)


print("sin_value=",sin_angle)
print("cos_value=",cos_angle)
print("tan_value=",tan_angle)

sin_value= (1.5707963267948966+0j)
cos_value= (1.5707963267948966-0j)
tan_value= (0.7853981633974483+0j)

In [ ]:
import math as mt

sin_angle= mt.asin(1)
cos_angle= mt.acos(0)
tan_angle=mt.atan(1)


print("sin_value=",sin_angle)
print("cos_value=",cos_angle)
print("tan_value=",tan_angle)

sin_value= 1.5707963267948966
cos_value= 1.5707963267948966
tan_value= 0.7853981633974483

In [ ]:
import math as mt

sin_value= mt.sinh(1.57)
cos_value= mt.cosh(1.57)
tan_value=mt.tanh(1.57/2)


print("sin_value=",sin_value)
print("cos_value=",cos_value)
print("tan_value=",tan_value)

sin_value= 2.299301505709079
cos_value= 2.5073466880660993
tan_value= 0.6555672165322445

In [ ]:
import cmath as cm

sin_value= cm.sinh(1.57)
cos_value= cm.cosh(1.57)
tan_value=cm.tanh(1.57/2)


print("sin_value=",sin_value)
print("cos_value=",cos_value)
print("tan_value=",tan_value)

sin_value= (2.299301505709079+0j)
cos_value= (2.5073466880660993+0j)
tan_value= (0.6555672165322445+0j)

In [ ]:
import math as mt

sin_angle= mt.asinh(1)
cos_angle= mt.acosh(1)
tan_angle=mt.atanh(0.5)


print("sin_value=",sin_angle)
print("cos_value=",cos_angle)
print("tan_value=",tan_angle)

sin_value= 0.881373587019543
cos_value= 0.0
tan_value= 0.5493061443340548

In [ ]:
import cmath as cm


sin_angle= cm.asinh(1)
cos_angle= cm.acosh(1)
tan_angle=cm.atanh(0.5)


print("sin_value=",sin_angle)
print("cos_value=",cos_angle)
print("tan_value=",tan_angle)

sin_value= (0.881373587019543+0j)
cos_value= 0j
tan_value= (0.5493061443340549+0j)

# ***Classification functions***

In [ ]:
x=complex(10,20)

import cmath as cm
print(cm.isfinite(x)) #Return True if both the real and imaginary parts of x are finite, and False otherwise.

True

In [ ]:
x=10

import math as mt
print(mt.isfinite(x)) #Return True if  x is finite, and False otherwise.

True

In [ ]:
y=complex(float('inf'),20)

import cmath as cm
print(cm.isfinite(y)) #Return True if both the real and imaginary parts of x are finite, and False otherwise.
print(cm.isinf(y)) #Return True if either the real and imaginary parts of x are infinite, and False otherwise.

False
True

In [ ]:
y=float('inf')

import math as m
print(m.isfinite(y))       #Return True if  x is finite, and False otherwise.
print(m.isinf(y))          #Return True if  x is infinite, and False otherwise.

False
True

In [ ]:
n1 = float("nan")

import math as m
print(m.isnan(n1))    #Return True if  n1 is nan, and False otherwise.

n2=complex(float('nan'),20)

import cmath as cm
print(cm.isnan(n2)) #Return True if either the real and imaginary parts of n2 are nan, and False otherwise.

True
True

# ***User Defined Functions***

In [ ]:
def print_details():
  print("Name: Venkat")
  print("Course: Python")
  print("Class: 3rd B1 B2")

In [ ]:
print_details()

Name: Venkat
Course: Python
Class: 3rd B1 B2

In [ ]:
def calculator(x,y):
  add=x+y
  sub=x-y
  mul=x*y
  div=x/y
  rem=x%y
  power=x**y
  return add,sub,mul,div,rem,power

In [ ]:
[a,s,m,d,r,p]=calculator(4,2)
print("addition=",a)
print("substration=",s)
print("multiplication=",m)
print("division=",d)
print("remainder=",r)
print("power=",p)

addition= 6
substration= 2
multiplication= 8
division= 2.0
remainder= 0
power= 16

In [ ]:
def func(y):
  global x
  x=2
  print(x)

In [ ]:
func()

2

In [ ]:
def mydetails(Name, rollno):
  print("Name:",Name)
  print("rollno:",rollno)

In [ ]:
mydetails("Venkat")

TypeError: mydetails() missing 1 required positional argument: 'rollno'

In [ ]:
def bill(no_items,price=10):
  bill_amount=no_items*price
  print("bill_amount:Rs.",bill_amount)

In [ ]:
items=int(input("enter no. of items"))
bill(items)

enter no. of items10
bill_amount:Rs. 100

In [ ]:
items=int(input("enter no. of items"))
bill(items,30)

enter no. of items10
bill_amount:Rs. 300

In [ ]:
def bill(no_items,price):
  bill_amount=no_items*price
  print("bill_amount:Rs.",bill_amount)

In [ ]:
bill(no_items=10,price=10)

bill_amount:Rs. 100

In [ ]:
bill(price=10,no_items=10)

bill_amount:Rs. 100

In [ ]:
def student_report(Name,*Marks):
  print('Name:',Name)
  print('Python Marks:',Marks[0])
  print('FIoT Marks:',Marks[1])

In [ ]:
student_report("Venkat",50,30)

Name: Venkat
Python Marks: 50
FIoT Marks: 30

In [ ]:
def calculator(a,b):
  add=a+b
  sub=a-b
  mul=a*b
  div=a/b
  return add,sub,mul,div

In [ ]:
[add,sub,mul,div]=calculator(4,2)
print("Addition:",add)
print("Substration:",sub)
print("Multiplication:",mul)
print("Division:",div)

Addition: 6
Substration: 2
Multiplication: 8
Division: 2.0

In [ ]:
def calc(a,b):
  return a+b,a-b,a*b,a/b

In [ ]:
[_,sub,mul,div]=calc(410,5)
print("Substration:",sub)
print("Multiplication:",mul)
print("Division:",div)

Substration: 405
Multiplication: 2050
Division: 82.0

In [ ]:
def greet(Name):
  ''' This function is used to greet a person.

  This function greets
  the person passed in the parameter.'''
  print("Hello", Name ,"Good Morning")

print(greet.__doc__)
greet("Venkat")

 This function is used to greet a person.

  This function greets
  the person passed in the parameter.
Hello Venkat Good Morning

In [ ]:
calculator = lambda a,b: [a+b,a-b,a*b,a/b]

[add,sub,mul,div]=calculator(4,2)
print("Addition:",add)
print("Substration:",sub)
print("Multiplication:",mul)
print("Division:",div)

Addition: 6
Substration: 2
Multiplication: 8
Division: 2.0

# ***User Defined Python Module***

In [ ]:
from calculator import add
a=float(input("enter a value"))
b=float(input("enter b value"))
sum_value=add(a,b)
print("Addition=",sum_value)

enter a value4
enter b value3
Addition= 7.0

In [ ]:
import calculator as cal
a=float(input("enter a value"))
b=float(input("enter b value"))
addition=cal.add(a,b)
substraction=cal.sub(a,b)
multiplication=cal.mul(a,b)
print("Addition=",addition)
print("substraction=",substraction)
print("multiplication=",multiplication)

enter a value4
enter b value2
Addition= 6.0
substraction= 2.0
multiplication= 8.0

In [ ]:
# Mount your google drive in google colab
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import sys
sys.path.append('/content/drive/MyDrive/AI Data')

In [ ]:
import calculator as cal
a=float(input("enter a value"))
b=float(input("enter b value"))
addition=cal.add(a,b)
substraction=cal.sub(a,b)
multiplication=cal.mul(a,b)
print("Addition=",addition)
print("substraction=",substraction)
print("multiplication=",multiplication)

enter a value5
enter b value6
Addition= 11.0
substraction= -1.0
multiplication= 30.0

In [ ]:
from calculator import add
a=float(input("enter a value"))
b=float(input("enter b value"))
addition=add(a,b)
print("Addition=",addition)

enter a value2
enter b value3
Addition= 5.0

# ***Application for transformer***

In [ ]:
import transformer
v0=float(input("enter v0 value"))
i0=float(input("enter i0 value"))
w0=float(input("enter w0 value"))
vsc=float(input("enter vsc value"))
isc=float(input("enter isc value"))
wsc=float(input("enter wsc value"))
x=float(input("transformer loading"))
pf=float(input("popwer factor"))
rating=float(input("enter transfomer rating value"))
[r0,x0]=transformer.oc(v0,i0,w0)
print("r0=",r0)
print("x0=",x0)
[rhv,xhv]=transformer.sc(vsc,isc,wsc)
print("rhv=",rhv)
print("xhv=",xhv)
e=transformer.eff(rating,w0,wsc,x,pf)
print("effeciency=",e)

enter v0 value220
enter i0 value2
enter w0 value250
enter vsc value75
enter isc value10
enter wsc value500
transformer loading1
popwer factor1
enter transfomer rating value5000
r0= 193.6
x0= 133.67309875319802
rhv= 5.0
xhv= 5.5901699437494745
effeciency= 86.95652173913044

In [ ]:
import datetime
now = datetime.datetime.now()
print("Current date and time:", now)
formatted_now = now.strftime("%Y-%m-%d %H:%M:%S")

count=0
pu=int(input("enter previous month units"))
cu=int(input("enter current month units"))
tc=int(input("enter type of customer 0;res 1;com 2;adv"))
u=cu-pu
ed=0.06*u
if(tc==0):
  if(u<=100):
    if(u<=50):
      ec=1.95*u
      fc=10
      cc=40
    else:
      ec=3.10*u
      fc=10
      cc=70
  else:
    if(u>100 and u<=200):
      ec=100*3.4+(u-100)*4.8
      fc=10
      cc=90
    else:
      print("this appilaction is not supported")
      count=count+1
if(tc==1):
  if(u<=50):
    ec=7*u
    fc=60
    cc=50
  else:
    print("this appilaction is not supported")
    count=count+1
if(tc==2):
  ec=13*u
  fc=70
  cc=160

if(count==0):
  bill_amount=ec+fc+cc+ed
  print("----------------------------")
  print("TGNPDCL")
  print("Formatted date and time:",formatted_now)
  print("----------------------------")
  print("previous units=",pu)
  print("present units=",cu)
  print("energy consumu=",u)
  print("eneryg charges=",ec)
  print("fixed charges=",fc)
  print("customer charges=",cc)
  print("electicity duty=",ed)
  print("bill_amount=",bill_amount)
  print("----------------------------")

Current date and time: 2024-09-03 10:53:24.879402
enter previous month units7000
enter current month units7500
enter type of customer 0;res 1;com 2;adv0
this appilaction is not supported

In [ ]:
for a in range(21):
  if(a%2!=0):
    print("a=",a)

a= 1
a= 3
a= 5
a= 7
a= 9
a= 11
a= 13
a= 15
a= 17
a= 19

In [ ]:
a=0
while(a<=20):
  if(a%2!=0):
    print("a=",a)
  a=a+1

a= 1
a= 3
a= 5
a= 7
a= 9
a= 11
a= 13
a= 15
a= 17
a= 19

Break Statement

In [ ]:
num=[10,2,6,3,5]
for i in range(len(num)):
  print("a=",num[i])
  if(i==2):
    break

a= 10
a= 2
a= 6

In [ ]:
num=[3,9,8,7,13,17,19]
for i in range(len(num)):
  if(num[i]%2==0):
    print("even number=",num[i])
    break
print("good bye")

even number= 8
good bye

In [ ]:
num=[12,23,42,35,64,78,74]
ip=int(input("enter number"))
for i in range(len(num)):
  if(num[i]==ip):
    print("number found:",num[i])
    break
  else:
    if(i==len(num)-1):
      print("Number not found")

enter number64
number found: 64

In [ ]:
for i in range(5):
  for j in range(5):
    if(j<=i):
      print("*",end="")
  print()

*
**
***
****
*****

In [ ]:
i=0
j=0
while(i<=5):
  j=0
  while(j<=5):
    if(j<=i):
      print("*",end="")
    j=j+1
  print()
  i=i+1

*
**
***
****
*****
******

In [ ]:
i=0
j=0
while(i<=5):
  j=0
  while(j<=5):
    if(j>=i):
      print("+",end="")
    j=j+1
  print()
  i=i+1

++++++
+++++
++++
+++
++
+

In [6]:
for i in range(5):
  for j in range(5):
    if(j>=5-i):
      print("*",end="")
    else:
      print(" ",end="")
  print()

    *
   **
  ***
 ****