<a href="https://colab.research.google.com/github/vvrgit/Python/blob/main/Python_Note_book_2024_2025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Random Number Generation**

In [ ]:
import random
a=random.randrange(0,10)
print(a)

6

In [ ]:
b=random.uniform(0,10)
print(b)

6.832542296471856

In [ ]:
#Use the seed() method to customize
#the start number of the random number generator.

random.seed(10)
print(random.random())

random.seed(10)
print(random.random())

0.5714025946899135
0.5714025946899135

In [ ]:
#randint: Returns a random number between the given range
a=random.randint(1,10)
print(a)

7

In [ ]:
#choice: Returns a random element from the given sequence
mylist = ["apple", "banana", "cherry"]

print(random.choice(mylist))

cherry

In [ ]:
#choices()	Returns a list with a random selection from the given sequence
mylist = ["apple", "banana", "cherry", 100]

print(random.choices(mylist, k = 14))

['banana', 'cherry', 'apple', 100, 'apple', 'banana', 100, 100, 'apple', 100, 100, 'banana', 100, 'apple']

In [ ]:
#shuffle()	Takes a sequence and returns the sequence in a random order
mylist = ["apple", "banana", "cherry"]
random.shuffle(mylist)

print(mylist)

['apple', 'cherry', 'banana']

In [ ]:
#sample()	Returns a given sample of a sequence

mylist = ["apple", "banana", "cherry"]

print(random.sample(mylist, k=2))

['cherry', 'apple']

In [ ]:
#random()	Returns a random float number between 0 and 1
a=random.random()
print(a)

0.17430797798567554

In [ ]:
#uniform()	Returns a random float number between two given parameters
a=random.uniform(10,20)
print(a)

12.670270685533795

# ***Python Strings***

In [ ]:
'''
Strings in python are surrounded by either single quotation marks, or double quotation marks.

'hello' is the same as "hello".

You can display a string literal with the print() function:
'''

print("Hello")
print('Hello')

Hello
Hello

In [ ]:
'''
You can use quotes inside a string, as long as they don't match the quotes surrounding the string:
'''

print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

In [ ]:
'''
You can assign a multiline string to a variable by using
three single or double quotes
'''
a=''' HI! I am
Dr. Venkataramana
SR University'''
print(a)


b=""" I am Teaching
Python Program"""

print(b)

 HI! I am
Dr. Venkataramana
SR University
 I am Teaching
Python Program

In [ ]:
a = "Hello, World!"
print(a[1])

e

In [ ]:
#Looping Through a String
for x in "banana":
  print(x)

b
a
n
a
n
a

In [ ]:
#To get the length of a string, use the len() function.
a = "Hello, World!"
print(len(a))

13

In [ ]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [13]:
My_self='''I am Teaching Python
for 3rd year EEE students
of SR University'''

print(len(My_self))

63

In [9]:
print(My_self[0])

I

In [10]:
print(My_self[1:])

 am  Teaching Python
for 3rd year EEE students
of SR University

In [11]:
print(My_self[1:6])

 am

In [15]:
print(My_self[::-1])

ytisrevinU RS fo
stneduts EEE raey dr3 rof
nohtyP gnihcaeT ma I

In [16]:
print(My_self[20:0:-1])

nohtyP gnihcaeT ma

In [22]:
Language_1="Python"
Language_2="MATLAB"
print(Language_1+' '+Language_2)
print(Language_1*2)

Python MATLAB
PythonPython

In [23]:
Language_1="Python"
Language_2="MATLAB"
print(Language_1+' '+Language_2)
del Language_1
print(Language_1)

Python MATLAB

NameError: name 'Language_1' is not defined

# ***Complex Numbers***

In [24]:
z=complex(2,3)
print(z)
w=20+30j
print(w)

(2+3j)
(20+30j)

In [27]:
real_no=z.real
imag_no=z.imag
print("real_no",real_no)
print("imag_no",imag_no)

real_no 2.0
imag_no 3.0

In [29]:
complex_conjugate=z.conjugate()
magnitude=abs(z)
print("complex_conjugate",complex_conjugate)
print("magnitude",magnitude)

complex_conjugate (2-3j)
magnitude 3.605551275463989

In [30]:
z1=complex(2,3)
z2=complex(4,5)
print("z1+z2=",z1+z2)
print("z1-z2=",z1-z2)
print("z1*z2=",z1*z2)
print("z1/z2=",z1/z2)

z1+z2= (6+8j)
z1-z2= (-2-2j)
z1*z2= (-7+22j)
z1/z2= (0.5609756097560976+0.0487804878048781j)

In [43]:
import cmath as cm
z1=complex(2,3)

angle=cm.phase(z1)
polar_form=cm.polar(z1)
rect_form=cm.rect(polar_form[0],polar_form[1])


print("angle in Radians=",angle)
print("polar_form=",polar_form)
print("rect_form=",rect_form)

angle in Radians= 0.982793723247329
polar_form= (3.605551275463989, 0.982793723247329)
rect_form= (2+3j)

In [42]:
import math as mt
import cmath as cm

z1=complex(10,20)
angle=cm.phase(z1)

angle_degree=mt.degrees(angle)

print("angle in Radians=",angle)
print("angle in degrees=",angle_degree)

angle in Radians= 1.1071487177940904
angle in degrees= 63.43494882292201

# ***Power and logarithmic functions***

In [48]:
import cmath as cm

exp_01= cm.exp(1)
log_01= cm.log(cm.exp(1))
log10_01=cm.log10(1000)
sqrt_01=cm.sqrt(4)

print("Exponential=",exp_01)
print("Log_e=",log_01)
print("square root=",sqrt_01)
print("Log_10=",log10_01)

Exponential= (2.718281828459045+0j)
Log_e= (1+0j)
square root= (2+0j)
Log_10= (2.9999999999999996+0j)

In [50]:
import math as mt

exp_01= mt.exp(1)
log_01= mt.log(mt.exp(1))
log10_01=mt.log10(1000)
sqrt_01=mt.sqrt(4)

print("Exponential=",exp_01)
print("Log_e=",log_01)
print("square root=",sqrt_01)
print("Log_10=",log10_01)

Exponential= 2.718281828459045
Log_e= 1.0
square root= 2.0
Log_10= 3.0

# ***Trigonometric functions***

In [53]:
import math as mt

sin_value= mt.sin(1.57)
cos_value= mt.cos(1.57)
tan_value=mt.tan(1.57/2)


print("sin_value=",sin_value)
print("cos_value=",cos_value)
print("tan_value=",tan_value)

sin_value= 0.9999996829318346
cos_value= 0.0007963267107332633
tan_value= 0.9992039901050427

In [61]:
import math as mt

sin_value= mt.sin(1.57)
cos_value= mt.cos(1.57)
tan_value=mt.tan(1.57/2)


print("sin_value=",sin_value)
print("cos_value=",cos_value)
print("tan_value=",tan_value)

sin_value= 0.9999996829318346
cos_value= 0.0007963267107332633
tan_value= 0.9992039901050427

In [62]:
import math as mt

sin_value= mt.sin(mt.radians(90))
cos_value= mt.cos(mt.radians(90))
tan_value=mt.tan(mt.radians(45))


print("sin_value=",sin_value)
print("cos_value=",cos_value)
print("tan_value=",tan_value)

sin_value= 1.0
cos_value= 6.123233995736766e-17
tan_value= 0.9999999999999999

In [63]:
import math as mt
import cmath as cm

sin_value= cm.sin(1.57)
cos_value= cm.cos(1.57)
tan_value=cm.tan(1.57/2)


print("sin_value=",sin_value)
print("cos_value=",cos_value)
print("tan_value=",tan_value)

sin_value= (0.9999996829318346+0j)
cos_value= (0.0007963267107332633-0j)
tan_value= (0.9992039901050427+0j)

In [64]:
import math as mt
import cmath as cm

sin_value= cm.sin(mt.radians(90))
cos_value= cm.cos(mt.radians(90))
tan_value=cm.tan(mt.radians(45))


print("sin_value=",sin_value)
print("cos_value=",cos_value)
print("tan_value=",tan_value)

sin_value= (1+0j)
cos_value= (6.123233995736766e-17-0j)
tan_value= (0.9999999999999999+0j)

In [66]:
import cmath as cm

sin_angle= cm.asin(1)
cos_angle= cm.acos(0)
tan_angle=cm.atan(1)


print("sin_value=",sin_angle)
print("cos_value=",cos_angle)
print("tan_value=",tan_angle)

sin_value= (1.5707963267948966+0j)
cos_value= (1.5707963267948966-0j)
tan_value= (0.7853981633974483+0j)

In [67]:
import math as mt

sin_angle= mt.asin(1)
cos_angle= mt.acos(0)
tan_angle=mt.atan(1)


print("sin_value=",sin_angle)
print("cos_value=",cos_angle)
print("tan_value=",tan_angle)

sin_value= 1.5707963267948966
cos_value= 1.5707963267948966
tan_value= 0.7853981633974483

In [68]:
import math as mt

sin_value= mt.sinh(1.57)
cos_value= mt.cosh(1.57)
tan_value=mt.tanh(1.57/2)


print("sin_value=",sin_value)
print("cos_value=",cos_value)
print("tan_value=",tan_value)

sin_value= 2.299301505709079
cos_value= 2.5073466880660993
tan_value= 0.6555672165322445

In [69]:
import cmath as cm

sin_value= cm.sinh(1.57)
cos_value= cm.cosh(1.57)
tan_value=cm.tanh(1.57/2)


print("sin_value=",sin_value)
print("cos_value=",cos_value)
print("tan_value=",tan_value)

sin_value= (2.299301505709079+0j)
cos_value= (2.5073466880660993+0j)
tan_value= (0.6555672165322445+0j)

In [72]:
import math as mt

sin_angle= mt.asinh(1)
cos_angle= mt.acosh(1)
tan_angle=mt.atanh(0.5)


print("sin_value=",sin_angle)
print("cos_value=",cos_angle)
print("tan_value=",tan_angle)

sin_value= 0.881373587019543
cos_value= 0.0
tan_value= 0.5493061443340548

In [73]:
import cmath as cm


sin_angle= cm.asinh(1)
cos_angle= cm.acosh(1)
tan_angle=cm.atanh(0.5)


print("sin_value=",sin_angle)
print("cos_value=",cos_angle)
print("tan_value=",tan_angle)

sin_value= (0.881373587019543+0j)
cos_value= 0j
tan_value= (0.5493061443340549+0j)

# ***Classification functions***

In [75]:
x=complex(10,20)

import cmath as cm
print(cm.isfinite(x)) #Return True if both the real and imaginary parts of x are finite, and False otherwise.

True

In [88]:
x=10

import math as mt
print(mt.isfinite(x)) #Return True if  x is finite, and False otherwise.

True

In [87]:
y=complex(float('inf'),20)

import cmath as cm
print(cm.isfinite(y)) #Return True if both the real and imaginary parts of x are finite, and False otherwise.
print(cm.isinf(y)) #Return True if either the real and imaginary parts of x are infinite, and False otherwise.

False
True

In [86]:
y=float('inf')

import math as m
print(m.isfinite(y))       #Return True if  x is finite, and False otherwise.
print(m.isinf(y))          #Return True if  x is infinite, and False otherwise.

False
True

In [90]:
n1 = float("nan")

import math as m
print(m.isnan(n1))    #Return True if  n1 is nan, and False otherwise.

n2=complex(float('nan'),20)

import cmath as cm
print(cm.isnan(n2)) #Return True if either the real and imaginary parts of n2 are nan, and False otherwise.

True
True