<a href="https://colab.research.google.com/github/vvrgit/Python/blob/main/Python_Note_book_2024_2025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Random Number Generation**

In [6]:
import random
a=random.randrange(0,10)
print(a)

6

In [5]:
b=random.uniform(0,10)
print(b)

6.832542296471856

In [8]:
#Use the seed() method to customize
#the start number of the random number generator.

random.seed(10)
print(random.random())

random.seed(10)
print(random.random())

0.5714025946899135
0.5714025946899135

In [13]:
#randint: Returns a random number between the given range
a=random.randint(1,10)
print(a)

7

In [15]:
#choice: Returns a random element from the given sequence
mylist = ["apple", "banana", "cherry"]

print(random.choice(mylist))

cherry

In [19]:
#choices()	Returns a list with a random selection from the given sequence
mylist = ["apple", "banana", "cherry", 100]

print(random.choices(mylist, k = 14))

['banana', 'cherry', 'apple', 100, 'apple', 'banana', 100, 100, 'apple', 100, 100, 'banana', 100, 'apple']

In [20]:
#shuffle()	Takes a sequence and returns the sequence in a random order
mylist = ["apple", "banana", "cherry"]
random.shuffle(mylist)

print(mylist)

['apple', 'cherry', 'banana']

In [25]:
#sample()	Returns a given sample of a sequence

mylist = ["apple", "banana", "cherry"]

print(random.sample(mylist, k=2))

['cherry', 'apple']

In [32]:
#random()	Returns a random float number between 0 and 1
a=random.random()
print(a)

0.17430797798567554

In [28]:
#uniform()	Returns a random float number between two given parameters
a=random.uniform(10,20)
print(a)

12.670270685533795

# ***Python Strings***

In [34]:
'''
Strings in python are surrounded by either single quotation marks, or double quotation marks.

'hello' is the same as "hello".

You can display a string literal with the print() function:
'''

print("Hello")
print('Hello')

Hello
Hello

In [37]:
'''
You can use quotes inside a string, as long as they don't match the quotes surrounding the string:
'''

print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

In [40]:
'''
You can assign a multiline string to a variable by using
three single or double quotes
'''
a=''' HI! I am
Dr. Venkataramana
SR University'''
print(a)


b=""" I am Teaching
Python Program"""

print(b)

 HI! I am
Dr. Venkataramana
SR University
 I am Teaching
Python Program

In [41]:
a = "Hello, World!"
print(a[1])

e

In [42]:
#Looping Through a String
for x in "banana":
  print(x)

b
a
n
a
n
a

In [43]:
#To get the length of a string, use the len() function.
a = "Hello, World!"
print(len(a))

13

In [44]:
txt = "The best things in life are free!"
print("free" in txt)

True