<a href="https://colab.research.google.com/github/vvrgit/Python/blob/main/Unit_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lists
- lists in python are similar to what arrays are in other languages
- but in python they are more flexible and can contain different types of data

In [ ]:
lst = [1, 2, 3, 4, 5]
print(lst)

[1, 2, 3, 4, 5]

In [ ]:
print(type(lst))

<class 'list'>

## Accessing the data from the list
- like the most arrays, we can use the index to access the data from the list.
- index starts from zero
- python also supports negative indices
- it also supports slicing

In [ ]:
# to get the first element
print(lst[0]) # first element
print(lst[1]) # second element
print(lst[2]) # third element

1
2
3

In [ ]:
# negative index
print(lst[-1]) # last element
print(lst[-2]) # second last element
print(lst[-3]) # third last element

5
4
3

In [ ]:
# to change the value of an element
lst[0] = 10
print(lst)

[10, 2, 3, 4, 5]

## list slicing
- slicing takes 3 arguments, start, stop and step
- <strong>[start : stop : step]</strong>

In [ ]:
print(lst[0:3]) # first three elements
print(lst[:3]) # first three elements (same as above but shorter and more pythonic)

[10, 2, 3]
[10, 2, 3]

In [ ]:
lst2 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(lst2[0:10:2]) # every second element

[1, 3, 5, 7, 9]

- the above code indicates that the step size is 2, which means starts at zero and jumps two steps further. means from 1 to 2, one step
- and 2 to 3, 2 steps

In [ ]:
lst2[1::2] # every second element starting from the second element
# note that we can omit the last index if we want to go to the end of the list

[2, 4, 6, 8, 10]

In [ ]:
lst2[::-1] # reverse the list

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
slc = slice(0, 10, 2)
lst2[slc] # same as lst2[0:10:2]

[1, 3, 5, 7, 9]

In [ ]:
# you cannot do something like this, that's why we need the slice object described above
slc2 = [0:10:2]
lst2[slc2] # this will give you an error

SyntaxError: invalid syntax (1366537678.py, line 2)

In [ ]:
# using a slice object is more flexible when you want to change the slice dynamically

## Multiple data types in the same list

In [ ]:
# let's make a table with some data like this
# name, roll, subjects, marks, grade, gpa, is_pass

student1 = ['John', 1, ['Math', 'Science', 'English'], [90, 80, 70], 'A', 3.5, True]
# as you can see, we used different data types in a single list which is not possible in other languages
# you can observe this kind of structure in SQL databases

In [ ]:
subjects = ['Math', 'Science', 'English']

student_results = [['John', 1, subjects, [90, 80, 70], 'A', 3.5, True],
                   ['Jane', 2, subjects, [80, 70, 60], 'B', 3.0, True],
                   ['Jack', 3, subjects, [70, 60, 50], 'C', 2.5, True],
                   ['Jill', 4, subjects, [60, 50, 40], 'D', 2.0, False]]

student_results

[['John', 1, ['Math', 'Science', 'English'], [90, 80, 70], 'A', 3.5, True],
 ['Jane', 2, ['Math', 'Science', 'English'], [80, 70, 60], 'B', 3.0, True],
 ['Jack', 3, ['Math', 'Science', 'English'], [70, 60, 50], 'C', 2.5, True],
 ['Jill', 4, ['Math', 'Science', 'English'], [60, 50, 40], 'D', 2.0, False]]

In [ ]:
# the above structure is called a nested list or a list of lists or a 2D list
# you can have a list of lists of lists or a 3D list and so on

## List Methods

In [ ]:
# in python everything is an object and a list is also an object.
# so each object has some methods associated with it (if you're familiar with OOP)

In [ ]:
# to know the methods associated with a list object, you can use the dir() function
dir(lst)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
# dunders are special methods that are used by python internally
# you can ignore them for now, they're used for operator overloading and other stuff
# dunder methods are always surrounded by double underscores on both sides, e.g. __add__
# dunder means double underscore d for double and under for underscore
# you can also call them magic methods
# as of now, you can ignore them, but they're very useful when you're writing your own classes and go deeper into OOP

In [ ]:
# so, if we ignore the dunder methods, we're left with the following methods
# append, clear, copy, count, extend, index, insert, pop, remove, reverse, sort

In [ ]:
# let's see what each of these methods do

# finding length or size of a list
print(len(lst)) # lst = [1, 2, 3, 4, 5]
print(len(lst2)) # lst2 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(len(student_results))
print(len(student_results[0])) # number of elements in the first list of student_results

5
10
4
7

note:
- when dealing with nested lists, in mathematical term we call it a matrix
- so, student_results is a matrix of 4 rows and 7 columns
- we can also call it a 4x7 matrix
- to get rows, we can use `len(student_results)`
- to get columns, we can use `len(student_results[0])`
- but sometimes there can be a case where the number of columns in each row is not the same
- usually this will not happen when you deal with numbers in python. because you'll be using numpy arrays for that.
- and numpy arrays are always rectangular in shape. so, they always have the same number of columns in each row

In [ ]:
# append
# append is used to add an element at the end of the list

lst.append(6)
print(lst)

[10, 2, 3, 4, 5, 6]

In [ ]:
# pop
# pop is used to remove an element from the end of the list
# if you don't pass any argument, it will remove the last element
# if you pass an index, it will remove the element at that index

lst.pop()
print(lst)

[10, 2, 3, 4, 5]

In [ ]:
lst.pop(0)

10

In [ ]:
lst

[2, 3, 4, 5]

In [ ]:
lst.pop(-1)
print(lst)

[2, 3, 4]

In [ ]:
# remove
# remove is used to remove an element from the list
# if you have duplicate elements in the list, it will remove the first occurrence of the element

lst.remove(3) # removes the first occurrence of 3 if it exists

# the basic difference between pop and remove is that pop returns the element that was removed and remove doesn't return anything
# and pop removes the element by index and remove removes the element by value

print(lst)

[2, 4]

In [ ]:
popped_element = lst.pop() # popped_element will have the value 4
removed_element = lst.remove(2) # removed_element will be None
print(popped_element, removed_element)

4 None

In [ ]:
print(lst) # list is empty now

[]

In [ ]:
# insert
# insert is used to insert an element at a specific index
lst.insert(0, 1) # insert 1 at index 0

# the first argument is the index and the second argument is the value
print(lst)

[1]

In [ ]:
lst.insert(5, 6) # insert 6 at index 5 (but we don't have index 5, so it will be inserted at the end)
print(lst)

[1, 6]

In [ ]:
# if we try to insert an element at an index that doesn't exist, it will insert the element at the end of the list

In [ ]:
lst.append(2, 3, 4, 5, 6) # this will give an error because append takes only one argument

TypeError: list.append() takes exactly one argument (5 given)

In [ ]:
lst.append([2, 3, 4, 5, 6]) # this will work because we're passing a list as an argument
print(lst)

[1, 6, [2, 3, 4, 5, 6]]

In [ ]:
# so if we want to add multiple elements at the end of the list, we can use extend

lst.extend([2, 3, 4, 5, 6]) # this will work
print(lst)

[1, 6, [2, 3, 4, 5, 6], 2, 3, 4, 5, 6]

In [ ]:
print(lst[2])

IndexError: list index out of range

In [ ]:
# let's insert 7 at index 2
lst.insert(2, 7)
print(lst)

[1, 6, 7]

In [ ]:
# as we can see, it inserted 7 at index 2 and shifted all the elements to the right.
# it won't overwrite the element at index 2

In [ ]:
print(lst[3])

IndexError: list index out of range

In [ ]:
lst[3] = 8 # this will overwrite the element at index 3
print(lst)

IndexError: list assignment index out of range

In [ ]:
# sort
# sort is used to sort the list in ascending order
# if the list contains elements of different data types, it will give an error

lst.sort()

In [ ]:
lst

[1, 6, 7]

In [ ]:
# to sort in descending order, we can use the reverse argument
lst.sort(reverse=True)
print(lst)

[7, 6, 1]

In [ ]:
# if we want to sort the list without modifying the original list, we can use the sorted function
sorted_lst = sorted(lst)
print(sorted_lst) # sorted list
print(lst) # original list is not modified

[1, 6, 7]
[7, 6, 1]

In [ ]:
# this is because all the methods of the list are in-place methods, i.e. they modify the original list

In [ ]:
# same for reverse

lst.reverse()

In [ ]:
lst

[1, 6, 7]

In [ ]:
reversed_lst = reversed(lst)
print(list(reversed_lst)) # reversed list, original list is not modified

# wen we use the reversed function, it returns a reverse iterator so we need to convert it to a list

[7, 6, 1]

In [ ]:
print(lst) # original list is not modified

[1, 6, 7]

In [ ]:
# count

print(lst.count(1)) # count the number of occurrences of 1 in the list
print(lst.count(6)) # count the number of occurrences of 6 in the list

1
1

In [ ]:
# index
# this method returns the index of the first occurrence of the element in the list
print(lst.index(1)) # index of the first occurrence of 1 in the list

0

In [ ]:
print(lst.index(6)) # index of the first occurrence of 6 in the list
print(lst.index(90)) # this will give an error because 90 is not in the list

1

ValueError: 90 is not in list

In [ ]:
dummy_lst = lst
dummy_lst[0] = "Some value"
print(lst) # both dummy_lst and lst are modified because lists are mutable
print(dummy_lst)

['Some value', 6, 7]
['Some value', 6, 7]

In [ ]:
# this is because, when we assign a list to a variable, it doesn't create a new list, it just creates a reference to the original list

In [ ]:
# to create a new list, we can use the copy method
dummy_lst = lst.copy()
dummy_lst[0] = "Some value again"
print(lst) # lst is not modified
print(dummy_lst)

['Some value', 6, 7]
['Some value again', 6, 7]

In [ ]:
# to remove all the elements from the list, we can use the clear method

dummy_lst.clear()
print(dummy_lst) # dummy_lst is empty now

[]

## List Comprehension

In [ ]:
# list comprehension is a very powerful feature of python that allows us to create lists in a single line of code.
# these are very important and you'll see them a lot in python code

example_lst = [1, 2, 3, 4, 5, 6, 7, 8, 9]
example_lst_using_list_comprehension = [i for i in range(1, 10)]
print(example_lst)
print(example_lst_using_list_comprehension)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
square_lst = [i**2 for i in example_lst]
print(square_lst)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

---

In [ ]:
# let's add few more students to the student_results list
student_results.append(['James', 5, subjects, [50, 40, 30], 'E', 1.5, False])
student_results.append(['Jenny', 6, subjects, [40, 30, 20], 'F', 1.0, False])
student_results.append(['Jasmine', 7, subjects, [30, 20, 10], 'F', 0.5, False])

print(student_results)

[['John', 1, ['Math', 'Science', 'English'], [90, 80, 70], 'A', 3.5, True], ['Jane', 2, ['Math', 'Science', 'English'], [80, 70, 60], 'B', 3.0, True], ['Jack', 3, ['Math', 'Science', 'English'], [70, 60, 50], 'C', 2.5, True], ['Jill', 4, ['Math', 'Science', 'English'], [60, 50, 40], 'D', 2.0, False], ['James', 5, ['Math', 'Science', 'English'], [50, 40, 30], 'E', 1.5, False], ['Jenny', 6, ['Math', 'Science', 'English'], [40, 30, 20], 'F', 1.0, False], ['Jasmine', 7, ['Math', 'Science', 'English'], [30, 20, 10], 'F', 0.5, False]]

In [ ]:
more_students = [['Tony', 8, subjects, [20, 10, 0], 'F', 0.0, False],
                 ['Tina', 9, subjects, [10, 0, 0], 'F', 0.0, False],
                 ['Tom', 10, subjects, [0, 0, 0], 'F', 0.0, False],
                 ['Tim', 11, subjects, [0, 0, 0], 'F', 0.0, False]]

student_results.extend(more_students)
print(student_results)

[['John', 1, ['Math', 'Science', 'English'], [90, 80, 70], 'A', 3.5, True], ['Jane', 2, ['Math', 'Science', 'English'], [80, 70, 60], 'B', 3.0, True], ['Jack', 3, ['Math', 'Science', 'English'], [70, 60, 50], 'C', 2.5, True], ['Jill', 4, ['Math', 'Science', 'English'], [60, 50, 40], 'D', 2.0, False], ['James', 5, ['Math', 'Science', 'English'], [50, 40, 30], 'E', 1.5, False], ['Jenny', 6, ['Math', 'Science', 'English'], [40, 30, 20], 'F', 1.0, False], ['Jasmine', 7, ['Math', 'Science', 'English'], [30, 20, 10], 'F', 0.5, False], ['Tony', 8, ['Math', 'Science', 'English'], [20, 10, 0], 'F', 0.0, False], ['Tina', 9, ['Math', 'Science', 'English'], [10, 0, 0], 'F', 0.0, False], ['Tom', 10, ['Math', 'Science', 'English'], [0, 0, 0], 'F', 0.0, False], ['Tim', 11, ['Math', 'Science', 'English'], [0, 0, 0], 'F', 0.0, False]]

In [ ]:
print(*student_results, sep='\n')

['John', 1, ['Math', 'Science', 'English'], [90, 80, 70], 'A', 3.5, True]
['Jane', 2, ['Math', 'Science', 'English'], [80, 70, 60], 'B', 3.0, True]
['Jack', 3, ['Math', 'Science', 'English'], [70, 60, 50], 'C', 2.5, True]
['Jill', 4, ['Math', 'Science', 'English'], [60, 50, 40], 'D', 2.0, False]
['James', 5, ['Math', 'Science', 'English'], [50, 40, 30], 'E', 1.5, False]
['Jenny', 6, ['Math', 'Science', 'English'], [40, 30, 20], 'F', 1.0, False]
['Jasmine', 7, ['Math', 'Science', 'English'], [30, 20, 10], 'F', 0.5, False]
['Tony', 8, ['Math', 'Science', 'English'], [20, 10, 0], 'F', 0.0, False]
['Tina', 9, ['Math', 'Science', 'English'], [10, 0, 0], 'F', 0.0, False]
['Tom', 10, ['Math', 'Science', 'English'], [0, 0, 0], 'F', 0.0, False]
['Tim', 11, ['Math', 'Science', 'English'], [0, 0, 0], 'F', 0.0, False]

### Assignment

In [ ]:
# find the total marks of each student
# find the average marks of each student
# find who got the highest marks in each subject
# find who got the highest marks overall
# find who scored less than 50 in any subject

In [ ]:
# let's find the total marks of each student
# we can use a for loop for this

for student in student_results:
    name = student[0]
    roll = student[1]
    marks = student[3]
    print(f'{roll} - {name} : {sum(marks)}')

1 - John : 240
2 - Jane : 210
3 - Jack : 180
4 - Jill : 150
5 - James : 120
6 - Jenny : 90
7 - Jasmine : 60
8 - Tony : 30
9 - Tina : 10
10 - Tom : 0
11 - Tim : 0

In [ ]:
# let's find the average marks of each student

for student in student_results:
    name = student[0]
    roll = student[1]
    marks = student[3]
    print(f'{roll} - {name} : {sum(marks)/len(marks)}')

1 - John : 80.0
2 - Jane : 70.0
3 - Jack : 60.0
4 - Jill : 50.0
5 - James : 40.0
6 - Jenny : 30.0
7 - Jasmine : 20.0
8 - Tony : 10.0
9 - Tina : 3.3333333333333335
10 - Tom : 0.0
11 - Tim : 0.0

In [ ]:
# let's find who got the highest marks in each subject
# this is a bit tricky

# first let's grab all the students in the list
students = [student[0] for student in student_results]
student_marks = [student[3] for student in student_results]
print(students)
print(student_marks)

['John', 'Jane', 'Jack', 'Jill', 'James', 'Jenny', 'Jasmine', 'Tony', 'Tina', 'Tom', 'Tim']
[[90, 80, 70], [80, 70, 60], [70, 60, 50], [60, 50, 40], [50, 40, 30], [40, 30, 20], [30, 20, 10], [20, 10, 0], [10, 0, 0], [0, 0, 0], [0, 0, 0]]

In [ ]:
for subject in range(len(subjects)):
    marks = [student[subject] for student in student_marks]
    highest_marks = max(marks)
    highest_marks_index = marks.index(highest_marks)
    highest_marks_student = students[highest_marks_index]
    print(f'{subjects[subject]} - {highest_marks_student} : {highest_marks}')

Math - John : 90
Science - John : 80
English - John : 70

In [ ]:
# lowest marks in each subject

for subject in range(len(subjects)):
    marks = [student[subject] for student in student_marks]
    highest_marks = min(marks)
    highest_marks_index = marks.index(highest_marks)
    highest_marks_student = students[highest_marks_index]
    print(f'{subjects[subject]} - {highest_marks_student} : {highest_marks}')

Math - Tom : 0
Science - Tina : 0
English - Tony : 0

# Tuples
- tuples in python are very similar to lists but they are immutable
- tuples are used when you don't want the data to be changed
- tuples are faster than lists

In [ ]:
tple = (1, 2, 3, 4, 5)
print(tple)
print(type(tple))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [ ]:
tple[0] = 10 # this will give an error because tuples are immutable

TypeError: 'tuple' object does not support item assignment

In [ ]:
tple.count(1) # count the number of occurrences of 1 in the tuple

1

In [ ]:
tple.index(1) # index of the first occurrence of 1 in the tuple

0

In [ ]:
tple2 = (1, 2, 3, [4, 5, 6])
tple2

(1, 2, 3, [4, 5, 6])

In [ ]:
tple2[3][0] = 10 # this will work because we're changing the list inside the tuple and not the tuple itself
tple2

(1, 2, 3, [10, 5, 6])

# Dictionaries

In [ ]:
# Dictionary or hashmap is a data structure that stores data in key-value pairs
# it is very similar to a list but instead of accessing elements using an index, we access elements using a key
# a key can be any immutable data type like a string, number, tuple etc.
# a value can be any data type like a string, number, list, tuple, dictionary etc.

In [ ]:
dictionary = {
    'name': 'John',
    'roll': 1,
    'subjects': ['Math', 'Science', 'English'],
    'marks': [90, 80, 70],
    'grade': 'A',
    'gpa': 3.5,
    'is_pass': True
}

print(dictionary)

{'name': 'John', 'roll': 1, 'subjects': ['Math', 'Science', 'English'], 'marks': [90, 80, 70], 'grade': 'A', 'gpa': 3.5, 'is_pass': True}

In [ ]:
dictionary['name']

'John'

In [ ]:
dictionary['name'] = 'Jane'
print(dictionary)

{'name': 'Jane', 'roll': 1, 'subjects': ['Math', 'Science', 'English'], 'marks': [90, 80, 70], 'grade': 'A', 'gpa': 3.5, 'is_pass': True}

In [ ]:
squares_dict = {i: i**2 for i in range(1, 11)} # dictionary comprehension
print(squares_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [ ]:
students_results_dict = {
    1: {
        'name': 'John',
        'subjects': ['Math', 'Science', 'English'],
        'marks': [90, 80, 70],
        'grade': 'A',
        'gpa': 3.5,
        'is_pass': True
    },
    2: {
        'name': 'Jane',
        'subjects': ['Math', 'Science', 'English'],
        'marks': [80, 70, 60],
        'grade': 'B+',
        'gpa': 3.0,
        'is_pass': True
    },
    3: {
        'name': 'Jack',
        'subjects': ['Math', 'Science', 'English'],
        'marks': [70, 60, 50],
        'grade': 'B',
        'gpa': 3.0,
        'is_pass': True
    },
    4: {
        'name': 'Jill',
        'subjects': ['Math', 'Science', 'English'],
        'marks': [60, 50, 40],
        'grade': 'B+',
        'gpa': 3.0,
        'is_pass': True
    }
}

In [ ]:
# adding a new student
students_results_dict[5] = {
    'name': 'James',
    'subjects': ['Math', 'Science', 'English'],
    'marks': [50, 40, 30],
    'grade': 'B+',
    'gpa': 3.0,
    'is_pass': True
}

In [ ]:
students_results_dict.setdefault(8, {
    'name': 'Jenny',
    'subjects': ['Math', 'Science', 'English'],
    'marks': [40, 30, 20],
    'grade': 'B+',
    'gpa': 3.0,
    'is_pass': True
}) # this will add a new student only if the key doesn't exist

{'name': 'Jenny',
 'subjects': ['Math', 'Science', 'English'],
 'marks': [40, 30, 20],
 'grade': 'B+',
 'gpa': 3.0,
 'is_pass': True}

In [ ]:
# let's get keys and values from the dictionary
print(students_results_dict.keys())

dict_keys([1, 2, 3, 4, 5, 6, 8])

In [ ]:
print(students_results_dict.values())

dict_values([{'name': 'John', 'subjects': ['Math', 'Science', 'English'], 'marks': [90, 80, 70], 'grade': 'A', 'gpa': 3.5, 'is_pass': True}, {'name': 'Jane', 'subjects': ['Math', 'Science', 'English'], 'marks': [80, 70, 60], 'grade': 'B', 'gpa': 3.0, 'is_pass': True}, {'name': 'Jack', 'subjects': ['Math', 'Science', 'English'], 'marks': [70, 60, 50], 'grade': 'C', 'gpa': 2.5, 'is_pass': True}, {'name': 'Jill', 'subjects': ['Math', 'Science', 'English'], 'marks': [60, 50, 40], 'grade': 'D', 'gpa': 2.0, 'is_pass': False}, {'name': 'James', 'subjects': ['Math', 'Science', 'English'], 'marks': [50, 40, 30], 'grade': 'B+', 'gpa': 3.0, 'is_pass': True}, {'name': 'Jenny', 'subjects': ['Math', 'Science', 'English'], 'marks': [40, 30, 20], 'grade': 'B+', 'gpa': 3.0, 'is_pass': True}, {'name': 'Jenny', 'subjects': ['Math', 'Science', 'English'], 'marks': [40, 30, 20], 'grade': 'B+', 'gpa': 3.0, 'is_pass': True}])

In [ ]:
print(students_results_dict.items())

dict_items([(1, {'name': 'John', 'subjects': ['Math', 'Science', 'English'], 'marks': [90, 80, 70], 'grade': 'A', 'gpa': 3.5, 'is_pass': True}), (2, {'name': 'Jane', 'subjects': ['Math', 'Science', 'English'], 'marks': [80, 70, 60], 'grade': 'B', 'gpa': 3.0, 'is_pass': True}), (3, {'name': 'Jack', 'subjects': ['Math', 'Science', 'English'], 'marks': [70, 60, 50], 'grade': 'C', 'gpa': 2.5, 'is_pass': True}), (4, {'name': 'Jill', 'subjects': ['Math', 'Science', 'English'], 'marks': [60, 50, 40], 'grade': 'D', 'gpa': 2.0, 'is_pass': False}), (5, {'name': 'James', 'subjects': ['Math', 'Science', 'English'], 'marks': [50, 40, 30], 'grade': 'B+', 'gpa': 3.0, 'is_pass': True}), (6, {'name': 'Jenny', 'subjects': ['Math', 'Science', 'English'], 'marks': [40, 30, 20], 'grade': 'B+', 'gpa': 3.0, 'is_pass': True}), (8, {'name': 'Jenny', 'subjects': ['Math', 'Science', 'English'], 'marks': [40, 30, 20], 'grade': 'B+', 'gpa': 3.0, 'is_pass': True})])

In [ ]:
students_results_dict.get(1) # get the value of the key 1

{'name': 'John',
 'subjects': ['Math', 'Science', 'English'],
 'marks': [90, 80, 70],
 'grade': 'A',
 'gpa': 3.5,
 'is_pass': True}

In [ ]:
print(students_results_dict.get(10)) # this will return None because the key 10 doesn't exist

None

In [ ]:
students_results_dict.get(10, 'Key not found') # this will return 'Key not found' because the key 10 doesn't exist

'Key not found'

In [ ]:
students_results_dict[10] # this will give an error because the key 10 doesn't exist

KeyError: 10

In [ ]:
students_results_dict.pop(1) # this will remove the key 1 and return the value of the key 1

{'name': 'John',
 'subjects': ['Math', 'Science', 'English'],
 'marks': [90, 80, 70],
 'grade': 'A',
 'gpa': 3.5,
 'is_pass': True}

In [ ]:
students_results_dict.pop() # this will give an error because pop takes one argument

TypeError: pop expected at least 1 argument, got 0

In [ ]:
students_results_dict.popitem() # this will remove the last key-value pair and return the key-value pair

(8,
 {'name': 'Jenny',
  'subjects': ['Math', 'Science', 'English'],
  'marks': [40, 30, 20],
  'grade': 'B+',
  'gpa': 3.0,
  'is_pass': True})

In [ ]:
students_results_dict.update({1: {
        'name': 'John',
        'subjects': ['Math', 'Science', 'English'],
        'marks': [90, 80, 70],
        'grade': 'A',
}})

In [ ]:
students_results_dict

{2: {'name': 'Jane',
  'subjects': ['Math', 'Science', 'English'],
  'marks': [80, 70, 60],
  'grade': 'B',
  'gpa': 3.0,
  'is_pass': True},
 3: {'name': 'Jack',
  'subjects': ['Math', 'Science', 'English'],
  'marks': [70, 60, 50],
  'grade': 'C',
  'gpa': 2.5,
  'is_pass': True},
 4: {'name': 'Jill',
  'subjects': ['Math', 'Science', 'English'],
  'marks': [60, 50, 40],
  'grade': 'D',
  'gpa': 2.0,
  'is_pass': False},
 5: {'name': 'James',
  'subjects': ['Math', 'Science', 'English'],
  'marks': [50, 40, 30],
  'grade': 'B+',
  'gpa': 3.0,
  'is_pass': True},
 6: {'name': 'Jenny',
  'subjects': ['Math', 'Science', 'English'],
  'marks': [40, 30, 20],
  'grade': 'B+',
  'gpa': 3.0,
  'is_pass': True},
 1: {'name': 'John',
  'subjects': ['Math', 'Science', 'English'],
  'marks': [90, 80, 70],
  'grade': 'A'}}

# Sets

In [ ]:
# sets are unordered collections of unique elements, i.e. they don't allow duplicate elements
# sets are very useful when you want to remove duplicate elements from a list
# sets are also very useful when you want to perform set operations like union, intersection, difference etc.
# the syntax for creating a set is very similar to a dictionary but without the key-value pairs

In [ ]:
set1 = set() # empty set
set2 = {1, 2, 3, 4, 5} # set with some elements
print(type(set1))
print(type(set2))

<class 'set'>
<class 'set'>

In [ ]:
set1.add(1) # add an element to the set
set2.add(1)

In [ ]:
print(set1, set2)

{1} {1, 2, 3, 4, 5}

In [ ]:
# even if we add the same element multiple times, it will only be added once

In [ ]:
for i in range(1, 11):
    set1.add(i)

In [ ]:
set1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
set1.union(set2) # union of two sets

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
set1.difference(set2) # difference of two sets

{6, 7, 8, 9, 10}

In [ ]:
set1.difference_update(set2) # difference of two sets and update the first set

In [ ]:
set1

{6, 7, 8, 9, 10}

In [ ]:
# if we notice, set1 has the difference of set1 and set2

# Strings

In [ ]:
# strings are immutable sequences of characters, i.e. you cannot change a string once it is created
# but when we try to change, it doesn't give an error, it just creates a new string

In [ ]:
# strings are objects and they have some methods associated with them

In [ ]:
string = 'Hello World'
print(string)
multi_line_string = '''Hello
world
'''

print(multi_line_string)

Hello World
Hello
world

In [ ]:
# strings are iterable, i.e. we can iterate over them using a for loop
for char in string:
    print(char, end=' ')

H e l l o   W o r l d

In [ ]:
string.title() # convert the first letter of each word to uppercase

'Hello World'

In [ ]:
string.capitalize() # convert the first letter of the first word to uppercase

'Hello world'

In [ ]:
string.casefold() # convert the string to lowercase

'hello world'

In [ ]:
string.lower() # convert the string to lowercase

'hello world'

In [ ]:
string.center(20) # center the string in a string of length 20

'    Hello World     '

In [ ]:
string.count('l') # count the number of occurrences of 'l' in the string

3

In [ ]:
string.endswith('d') # check if the string ends with 'd'

True

In [ ]:
string.startswith('H') # check if the string starts with 'H'

True

In [ ]:
string.find('l') # find the index of the first occurrence of 'l' in the string

2

In [ ]:
string.isalnum() # check if the string is alphanumeric

False

In [ ]:
# this will give you False because the string contains a space
print(string.isalpha()) # check if the string is alphabetic,

print(string.isascii()) # check if the string contains only ascii characters

False
True

In [ ]:
print(string.isdecimal()) # check if the string contains only decimal characters

False

In [ ]:
string.replace('l', 'L') # replace all the occurrences of 'l' with 'L'

'HeLLo WorLd'

In [ ]:
# note that, all these methods are not in-place methods, i.e. they don't modify the original string

In [ ]:
string # original string is not modified

'Hello World'

In [ ]:
"This is a string".split() # split the string into a list of words

['This', 'is', 'a', 'string']

In [ ]:
len("This is a string")

16

In [ ]:
"hello" + "world" # concatenate two strings

'helloworld'

In [ ]:
"".join(['hello', 'world']) # join a list of strings into a single string

'helloworld'