<a href="https://colab.research.google.com/github/vvrgit/Python/blob/main/Unit_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to Python

## Declaring variables

In [ ]:
first_name = "John"
last_name = "Smith"
age = 25

In [ ]:
print(first_name, last_name, age)

John Smith 25

variables can be defined in multiple ways

In [ ]:
# declaring multiple variables in one line
name, age, height = "John", 20, 5.8

In [ ]:
print(name, age, height)

John 20 5.8

### Rules to declare variables
variable name cannot be a keyword or a built-in function name

In [ ]:
2m = 10 # invalid variable name
my-name = "John" # invalid variable name (no hyphens allowed or any special characters)
my name = "John" # invalid variable name (no spaces allowed)

SyntaxError: invalid decimal literal (2813702977.py, line 1)

## Data Types  
There are several types of data in python:
`int, float, string, boolean, NoneType`

In [ ]:
age = 20 # int
age_str = "20" # str
age_str_2 = '20' # str (single quotes)
age_float = 20.0 # float
is_major = True # bool
occupation = None # NoneType

In [ ]:
age, age_str, age_str_2, age_float, is_major, occupation

(20, '20', '20', 20.0, True, None)

In [ ]:
print(type(age), type(age_str)) # to check the type of a variable use type() function

<class 'int'> <class 'str'>

as we can see, when used the quotation marks, it's a string. so every string can be quoted either single or double quotes. (``) or ("")

## Type Casting  
Type Casting is used to change the type of a variable

In [ ]:
number = 30
print(type(number))

<class 'int'>

In [ ]:
number = str(number)
print(type(number))

<class 'str'>

In [ ]:
# strings cannot be converted to int or float if they contain non-numeric characters
number = "30a" # string
number = int(number)

ValueError: invalid literal for int() with base 10: '30a'

In [ ]:
number = "30" # also a string, but can be converted to int
number = int(number)
print(type(number))

<class 'int'>

In [ ]:
float_number = "30.0"
print(type(float_number))

print("after conversion")
float_number = float(float_number)
print(type(float_number))

<class 'str'>
after conversion
<class 'float'>

In [ ]:
# if we convert a float to int, the decimal part will be truncated
# but string floats cannot be converted to int. It will throw an error
float_number = "30.5"
float_number = int(float_number)
print(type(float_number), float_number)

ValueError: invalid literal for int() with base 10: '30.5'

In [ ]:
float_number = "30.5"
float_number = float(float_number)
print(type(float_number), float_number)

<class 'float'> 30.5

In [ ]:
# to convert a number to string, use str() function
number = 30
number = str(number)
print(type(number), number)

<class 'str'> 30

## User Input and Output

In [ ]:
# to get an input from the user, use input() function
name = input("Enter your name: ") # input() function always returns a string, even if the user enters a number
print(name, type(name))

Smith <class 'str'>

In [ ]:
# to accept only a number from the user, use int() or float() function
age = int(input("Enter your age: "))
print(age, type(age))

20 <class 'int'>

### Multi-line string representation

In [ ]:
multi_line_string = """This is a multi-line string.
To write a multi-line string, use triple quotes.
"""

print(multi_line_string)

This is a multi-line string.
To write a multi-line string, use triple quotes.

In [ ]:
string1 = "Hello"
string2 = "World"

print(string1 + string2) # concatenation
print(string1, string2) # comma adds a space between the strings
print(string1, string2, sep="\n") # sep="\n" adds a new line between the strings
print(string1, string2, sep="\t") # sep="\t" adds a tab between the strings
print(string1, string2, sep="") # sep="" concatenates the strings without any space
print(string1, string2, sep="+") # sep="+" concatenates the strings with a plus sign

# basically, sep is used to add a separator between the strings. it can be anything.

HelloWorld
Hello World
Hello
World
Hello	World
HelloWorld
Hello+World

In [ ]:
print(string1, string2, end="\n----", sep="\n")

# end is used to add a string at the end of the print statement. it can be anything.
# in the above example, we added a new line and 4 hyphens at the end of the print statement

Hello
World
----

## Operators

1. Arithmetic Operators
- addition operator (+) can be used to add two numbers or concatenate two strings
- subtraction operator (-) can be used to subtract two numbers
- multiplication operator (*) can be used to multiply two numbers or repeat a string
- division operator (/) can be used to divide two numbers
- floor division operator (//) can be used to divide two numbers and get the integer part
- modulus operator (%) can be used to get the remainder of a division operation
- exponent operator (**) can be used to raise a number to the power of another number

In [ ]:
num1 = 10
num2 = 20
print("addition:", num1 + num2)
print("subtraction:", num1 - num2)
print("multiplication:", num1 * num2)
print("division:", num1 / num2)
print("floor division:", num1 // num2)
print("modulus:", num1 % num2)
print("power:", num1 ** num2)

addition: 30
subtraction: -10
multiplication: 200
division: 0.5
floor division: 0
modulus: 10
power: 100000000000000000000

2. Assignment Operators
- assignment operator (=) is used to assign a value to a variable
- comparison operators (==, !=, <, >, <=, >=) are used to compare two values
- logical operators (and, or, not) are used to combine two or more conditions
- identity operators (is, is not) are used to compare the memory location of two objects
- membership operators (in, not in) are used to check if a value exists in a sequence or not
- binary or bitwise operators (<<, >>, &, |, ^, ~) are used to perform bitwise operations

In [ ]:
print(20 == 20)
print(20 != 20)
print(20 > 20)
print(20 >= 20)
print(20 < 20)
print(20 <= 20)

True
False
False
True
False
True

In [ ]:
print(20 == 20 and 20 > 10)
print(20 == 20 or 20 > 10)
print(not 20 == 20)

True
True
False

In [ ]:
print("Hello" in "Hello World")
print("Hello" not in "Hello World")

True
False

In [ ]:
# requires bit manipulation knowledge

print(20 >> 2) # right shift, 20 / 2^2
print(20 << 2) # left shift, 20 * 2^2
print(20 & 2) # bitwise AND operator
print(20 | 2) # bitwise OR operator
print(20 ^ 2) # bitwise XOR operator

5
80
0
22
22

## Conditional Statements
- if
- elif
- else

In [ ]:
number = 20
if number < 10:
    print("number is less than 10")
elif number > 5 and number < 10: # elif is short for else if, it is used to check multiple conditions
    print("number is greater than 5 and less than 10")
else:
    print("number is greater than 10")

number is greater than 10

In [ ]:
string = "Hello"
if "H" in string:
    print("H is present in string")
else:
    print("H is not present in string")

H is present in string

## Nested conditions

In [ ]:
number = 20
print(number)

if number > 10 and number < 20:
    print("Condition 1")
    print("number is greater than 10")
    if number == 15:
        print("number is equal to 15")
    elif number > 15:
        print("number is greater than 15")
    else:
        print("number is less than 15")

elif number >= 10:
    print("Condition 2")
    print("number is greater than 10")
    if number > 15:
        print("number is greater than 15")
    else:
        print("number is less than 15")

20
Condition 2
number is greater than 10
number is greater than 15

## Loops

- for
- while

In [ ]:
# for loop is to iterate over a sequence (list, tuple, string, etc.) or any iterable object

for i in range(10): # range() function returns a sequence of numbers starting from 0 to the number passed as an argument
    print(i, end=" ") # 10 is not included in the sequence, stops at 9. because range(10) means 0 to 9 (10 numbers)

0 1 2 3 4 5 6 7 8 9

In [ ]:
# range takes 3 arguments: start, stop, step
# start is the starting number of the sequence
# stop is the number at which the sequence should stop (not included)
# step is the number by which the sequence should increment

for i in range(0, 100, 2): # (0 is the start, 100 is the stop, 2 is the step, 100 is not included. it will stop at 98)
    print(i, end=" ") # prints even numbers from 0 to 100 (not included)

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98

In [ ]:
for i in range(1, 100, 2):
    print(i, end=" ") # prints odd numbers from 1 to 100 (not included)

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [ ]:
print(range(10)) # range() function returns a range object, not a list
range_ = range(10)
print(f"start = {range_.start}\nstop = {range_.stop}\nstep = {range_.step}") # to get the start, stop and step of a range object, use start, stop and step attributes

range(0, 10)
start = 0
stop = 10
step = 1

In [ ]:
# while loop
# to execute a block of code until a condition is true

number = 10
while number > 0:
    print(number)
    number -= 1 # number = number - 1

10
9
8
7
6
5
4
3
2
1

In [ ]:
# let's print a multiplication table of a number
number = 5
start = 1
while start <= 10:
    # print(number, "X", start, "=", number * start)
    print(f"{number} X {start} = {number * start}") # f-strings, recommended to use this instead of concatenation.
    start += 1

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

### Statements used in loops
- break
- continue

In [ ]:
# break statement is used to break out of a loop
# continue statement is used to skip the current iteration and continue with the next iteration

In [ ]:
stop = 20
for i in range(1, 100):
    if i == stop:
        break # breaks out of the loop
    elif i % 2 == 0:
        continue # skips the current iteration and continues with the next iteration, i.e., it skips even numbers
    print(i, end=" ") # prints odd numbers till stop

1 3 5 7 9 11 13 15 17 19

## Functions (Very important)
- functions are used to perform a specific task or a set of tasks that can be reused multiple times.
- functions are used to avoid code repetition.
- in python, we define a function using the `def` keyword.

In [ ]:
# we have already implemented a multiplication table using while loop. but let's do it using functions.
# this print multiplication table function can be used anywhere in the program just by calling it.

In [ ]:
def print_multiplication_table(number):
    start = 1
    while start <= 10:
        print(f"{number} X {start} = {number * start}")
        start += 1

In [ ]:
print_multiplication_table(5)

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [ ]:
# the best use of functions is we can call them multiple times without writing the same code again and again.
# let's print multiplication tables of numbers from 1 to 5

for i in range(1, 6):
    print_multiplication_table(i)
    print()

1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9
1 X 10 = 10

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30

4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [ ]:
# the value we pass to a function is called an argument, and the value we receive from a function is called a return value
# in the above example, we passed 5 as an argument to the function print_multiplication_table()

In [ ]:
# keyword arguments
# when we pass arguments to a function, we can pass them in any order if we use keyword arguments
# let's say we have a function that takes 3 arguments, a, b, and c
def func(a, b, c):
    print(a, b, c)

# if we call the function like this, it will work fine
func(1, 2, 3)

1 2 3

In [ ]:
# what if we want to pass the arguments in a different order?
# we can use keyword arguments to pass the arguments in any order
func(c=3, b=2, a=1)

1 2 3

In [ ]:
# default arguments
# we can set default values for arguments in a function
# if we don't pass a value for an argument, it will use the default value
def func(a, b, c=10):
    print(a, b, c)

In [ ]:
func(1, 2) # c will use the default value 10

1 2 10

In [ ]:
# args and kwargs
# sometimes we don't know how many arguments we are going to pass to a function
# we can use *args and **kwargs to pass multiple arguments to a function
# *args is used to pass multiple positional arguments
# **kwargs is used to pass multiple keyword arguments

In [ ]:
def func(*args):
    print(args)

In [ ]:
func(1, 2, 3, 4, 5) # args is a tuple

(1, 2, 3, 4, 5)

In [ ]:
# best example is the print() function
# or let's create our own sum function that takes multiple arguments and returns the sum of all the arguments

In [ ]:
def custom_sum(*args):
    total = 0
    for i in args:
        total += i
    return total

custom_sum(1, 2, 3, 4, 5)

15

In [ ]:
def kwargs(**kwargs):
    print(kwargs)

kwargs(a=1, b=2, c=3) # kwargs is a dictionary

{'a': 1, 'b': 2, 'c': 3}

In [ ]:
# let's combine *args and **kwargs
def func(*args, **kwargs):
    if "sum" in kwargs and kwargs["sum"] == True:
        total = 0
        for i in args:
            total += i
        return total
    elif "mul" in kwargs:
        prod = 1
        for i in args:
            prod *= i
        return prod
    else:
        print(f"Invalid operation, {kwargs}")
        return

In [ ]:
func(1, 2, 3, 4, 5, sum=True) # returns the sum of all the arguments, and we can only pass sum=True or sum=False

15

In [ ]:
print(func(1, 2, 3, 4, 5, mul=True)) # we can pass mul = anything and it still works, all it checks is if mul is present in kwargs or not
print(func(1, 2, 3, 4, 5, mul=1)) # returns the product of all the arguments

120
120

In [ ]:
func(1, 2, 3, 4, 5, div=True)

Invalid operation, {'div': True}

In [ ]:
# let's create a function that tells if number is prime or not
def is_prime(number):
    for i in range(2, int(number**0.5) + 1):
        if number % i == 0: return False
    return True

In [ ]:
is_prime(5) # returns True

True

In [ ]:
# now using same function, let's print all the prime numbers from 1 to 100
for i in range(1, 101):
    if is_prime(i):
        print(i, end=" ")

1 2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [ ]:
# a function can take another function as an argument
# let's create a function that takes another function as an argument and returns the result of that function
def func(function, range_):
    for i in range(range_):
        if function(i):
            print(i, end=" ")

In [ ]:
func(is_prime, 100) # prints all the prime numbers from 1 to 100

0 1 2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [ ]:
# function taking another function as an argument is called a higher order function.
# useful for functional programming, we will learn about it later.
# also useful for decorators, we will learn about it later.
# also useful for abstraction, we will learn about it later.